<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="manifesto-navbar-logo">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "mdc_logo.png", alt: "MDC"%>
    <% end %>
  </div>

  <div class="manifesto-navbar">
    <div class="navbar-logo">
      <div class="navbar-facebook">
        <%= image_tag "facebook-white.png", alt: "facebook"%>
      </div>
      <div class="navbar-ig">
        <%= image_tag "instagram-white.png", alt: "instagram"%>
      </div>
      <div class="navbar-tiktok">
        <%= image_tag "tiktok-white.png", alt: "tiktok"%>
      </div>
    </div>
    <div class="navbar-items">
      <%= link_to "MANIFESTO", manifesto_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "ABOUT", about_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "CONTACT", contact_path %>
    </div>
  </div>
</div>
