<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <div class='menu'>
    <div class='menu-btn'>
      <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
        <path
          class="line top"
          d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path
          class="line middle"
          d="m 30,50 h 40" />
        <path
          class="line bottom"
          d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>

    </div>

    <div class="manifesto-navbar-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "mdc_logo.png", alt: "MDC"%>
      <% end %>
    </div>
  </div>
  <div class="manifesto-navbar">
    <div class="navbar-logo">
        <%= link_to "https://www.linkedin.com/company/mamadoesntcook/" , :target => "_blank" do %>
      <div class="navbar-linkedin">
      </div>
        <% end %>
      <%= link_to 'https://www.instagram.com/mamadoesntcook/', :target => "_blank" do %>
      <div class="navbar-ig">
      </div>
      <% end %>
    </div>
    <div class="navbar-items">
      <%= link_to "EPISODES", episode_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "INSIDE", about_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "CONTACT", contact_path %>
    </div>
  </div>


      <ul class="list-menu no-display">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "EPISODES", episode_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
</div>
