<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="manifesto-navbar-logo">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "mdc_logo.png", alt: "MDC"%>
    <% end %>
  </div>

  <div class="manifesto-navbar">
    <div class="navbar-logo">
      <div class="navbar-facebook">
        <%= link_to ""%>
      </div>
      <div class="navbar-ig">
        <%= link_to ""%>
      </div>
      <div class="navbar-tiktok">
        <%= link_to ""%>
      </div>
    </div>
    <div class="navbar-items">
      <%= link_to "EPISODES", episode_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "ABOUT", about_path %>
    </div>
    <div class="navbar-items">
      <%= link_to "CONTACT", contact_path %>
    </div>
  </div>
</div>
