<div class="container-coming">

    <div class= "bloc">
      <h1>COMING SOON</h1>

      <p>Patience, les premiers épisodes arrivent bientôt 🙌</p>

      <p class="padding-m-bottom">En attendant, suivez-nous ⇣</p>

      <div>

        <div class="newsletter">
        </div>

      <div class="newsletter-partial no-display">
        <%= render partial: 'subscribers/form', locals: { form: @form } %>
      </div>

      <%= link_to 'https://www.linkedin.com/company/mamadoesntcook', :target => "_blank" do %>
      <%= image_tag "linkedinep.png", alt: "Linkedin", class:"margin-right"%>
      <% end %>
      <%= link_to "https://www.instagram.com/mamadoesntcook/" , :target => "_blank" do %>
      <%= image_tag "instagramep.png", alt: "Instagram", class:"margin-right"%>
      <% end %>
      </div>
      </div>
    </div>

</div>
