<div class="home-banner">
  <div class="container">
    <div class="text-banner">
      <div class="fade-in conversation">Conversations de</div>
      <div class="fade-in">Femmes</div>
      <div class="entrepreneure fade-in">Entrepreneures</div>
      <div class="artiste fade-in no-display">Artistes</div>
      <div class="porteuse fade-in no-display">Porteuses de projet</div>
      <div class="sportive fade-in no-display">Sportives</div>
      <div class="dirigeante fade-in no-display">Dirigeantes</div>
      <div class="militante fade-in no-display">Militantes</div>
      <div class="fade-in">Mamans</div>
    </div>

  </div>
  <div class="middle-container">
    <div class="sharing-img">
      <%= link_to "#", class: "sharing" do %>
      <%= image_tag "sharing.jpg", alt: "sharing"%>
      <% end %>
    </div>
    <div class="sharing-text">
      <div>Sharing is caring.</div>
      <div class="small-font"> On vous partage nos dernières trouvailles, inspirations et rencontres 👇 </div>
      <div>
        <%= render partial: 'subscribers/form', locals: { form: @form } %>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="mission-text">
      <h1>Conversations.</h1>
      <p>Il y a des conversations qui vous libèrent. De celles auxquelles vous repensez le soir, en rentrant chez vous. Celles qui vous font vous endormir avec le sourire. Celles qui vous soulagent. Qui vous font réfléchir, vous font grandir, déculpabiliser, relativiser. Et puis, il y a celles qui vous énergisent, qui vous enthousiasment, vous inspirent, vous passionnent et vous exaltent tellement qu'elles vous donnent envie de faire, et de faire maintenant.</p>

      <p><i>Mama Doesn't Cook</i> vous livre ces conversations qui font du bien avec des femmes inspirantes sur leur manière d'allier ambition et maternité.</p>

      <p>Evidemment, la réponse est plurielle, non-définitive et subjective. Mais toutes s'accordent sur une chose :</p>

      <p><b>C'est possible.</b> Et l'étendu de ces possibles est infini.</p>

      <p>Bienvenue Mama !</p>

    </div>
    <div class="sharing-img">
      <%= link_to "#", class: "sharing" do %>
      <%= image_tag "women.jpg", alt: "sharing"%>
      <% end %>
    </div>
  </div>
</div>
